In [11]:
import pandas as pd

import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

from src.inference import load_batch_of_features_from_store, fetch_next_hour_predictions

In [8]:
current_date = pd.Timestamp.now(tz="US/Eastern")
features = load_batch_of_features_from_store(current_date)

2025-03-02 22:25:57,110 INFO: Initializing external client
2025-03-02 22:25:57,112 INFO: Base URL: https://c.app.hopsworks.ai:443

InsecureRequestWarning: Unverified HTTPS request is being made to host 'c.app.hopsworks.ai'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings

2025-03-02 22:25:58,300 INFO: Python Engine initialized.

InsecureRequestWarning: Unverified HTTPS request is being made to host 'c.app.hopsworks.ai'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1212635
Fetching data from 2025-02-01 22:25:57.106270-05:00 to 2025-03-02 21:25:57.106270-05:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (7.91s)
Skipping location_id 99: Not enough data to create even one window.

In [9]:
features

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2025-03-02 04:00:00,2
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2025-03-02 04:00:00,3
2,0,0,0,0,0,0,0,0,0,0,...,4,11,14,50,68,62,65,43,2025-03-02 04:00:00,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2025-03-02 04:00:00,6
4,0,0,0,0,0,0,0,0,0,0,...,3,2,1,2,3,1,1,3,2025-03-02 04:00:00,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2025-03-02 04:00:00,259
252,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,2025-03-02 04:00:00,260
253,0,0,0,0,0,0,0,0,0,0,...,23,20,11,14,7,12,7,10,2025-03-02 04:00:00,261
254,0,0,0,0,0,0,0,0,0,0,...,58,26,28,18,7,5,5,2,2025-03-02 04:00:00,262
255,0,0,0,0,0,0,0,0,0,0,...,140,154,137,90,82,49,41,29,2025-03-02 04:00:00,263

In [13]:
predictions = fetch_next_hour_predictions()

2025-03-02 22:28:55,596 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-02 22:28:55,605 INFO: Initializing external client
2025-03-02 22:28:55,605 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-02 22:28:56,478 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1212635
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.41s)
Current EST time: 2025-03-02 22:28:55.596518
Next hour: 2025-03-02 23:00:00
Found 0 records

In [34]:
import hopsworks
from src import config as config
from datetime import datetime, timedelta
from src.inference import get_feature_store

now = datetime.now()
next_hour = (now + timedelta(hours=1)).replace(minute=0, second=0, microsecond=0)

fs = get_feature_store()
fg = fs.get_feature_group(name=config.FEATURE_GROUP_MODEL_PREDICTION, version=1)
df = fg.read()

df["pickup_hour"] = df["pickup_hour"].dt.tz_convert("US/Eastern")

2025-03-02 22:42:06,637 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-02 22:42:06,661 INFO: Initializing external client
2025-03-02 22:42:06,662 INFO: Base URL: https://c.app.hopsworks.ai:443

InsecureRequestWarning: Unverified HTTPS request is being made to host 'c.app.hopsworks.ai'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings

2025-03-02 22:42:07,644 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1212635
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.44s)

In [35]:
next_hour

datetime.datetime(2025, 3, 2, 23, 0)

In [46]:
df["pickup_hour"] = df["pickup_hour"].dt.tz_localize(None)

In [47]:
df

     pickup_location_id  predicted_demand         pickup_hour
0                   190               0.0 2025-03-02 21:00:00
1                    18               0.0 2025-03-02 21:00:00
2                   150               0.0 2025-03-02 21:00:00
3                   113               1.0 2025-03-02 21:00:00
4                   106               0.0 2025-03-02 21:00:00
..                  ...               ...                 ...
763                 207               1.0 2025-03-02 23:00:00
764                 148              42.0 2025-03-02 23:00:00
765                  95               1.0 2025-03-02 23:00:00
766                  61               1.0 2025-03-02 23:00:00
767                  13              25.0 2025-03-02 23:00:00

[768 rows x 3 columns]

In [36]:
df_copy = df.copy()

In [45]:
df = df_copy

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pickup_location_id  768 non-null    int32
 1   predicted_demand    768 non-null    float64
 2   pickup_hour         768 non-null    datetime64[us, US/Eastern]
dtypes: datetime64[us, US/Eastern](1), float64(1), int32(1)
memory usage: 15.1 KB

In [39]:
df_copy

     pickup_location_id  predicted_demand               pickup_hour
0                   190               0.0 2025-03-02 21:00:00-05:00
1                    18               0.0 2025-03-02 21:00:00-05:00
2                   150               0.0 2025-03-02 21:00:00-05:00
3                   113               1.0 2025-03-02 21:00:00-05:00
4                   106               0.0 2025-03-02 21:00:00-05:00
..                  ...               ...                       ...
763                 207               1.0 2025-03-02 23:00:00-05:00
764                 148              42.0 2025-03-02 23:00:00-05:00
765                  95               1.0 2025-03-02 23:00:00-05:00
766                  61               1.0 2025-03-02 23:00:00-05:00
767                  13              25.0 2025-03-02 23:00:00-05:00

[768 rows x 3 columns]

In [48]:
df = df[df["pickup_hour"] == next_hour]
df

     pickup_location_id  predicted_demand         pickup_hour
512                 164             134.0 2025-03-02 23:00:00
513                 263              96.0 2025-03-02 23:00:00
514                 206               0.0 2025-03-02 23:00:00
515                  48             118.0 2025-03-02 23:00:00
516                 107             123.0 2025-03-02 23:00:00
..                  ...               ...                 ...
763                 207               1.0 2025-03-02 23:00:00
764                 148              42.0 2025-03-02 23:00:00
765                  95               1.0 2025-03-02 23:00:00
766                  61               1.0 2025-03-02 23:00:00
767                  13              25.0 2025-03-02 23:00:00

[256 rows x 3 columns]